.ilus-header{
    position: absolute;
    top: 120px;
    justify-content: center;
    animation: float-ilus 2s infinite alternate;
}

.ilus-header-img{
    max-width: 600px;
}

@keyframes float-ilus {
    to{
        top: 100px
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 780px) {
    .ilus-header{
        margin-left: 80px;
    }
    .ilus-header-img{
        max-width: 300px;
    }
}

